secrets.yml
.env
summary.txt
*.m4a
summary.json
deprecated/*.json
deprecated/test_vault
deprecated/output/*.json
deprecated/conversation
deprecated/data
deprecated/news/extracted
token_count.csv
credentials.json
token.pickle
test
tests/data
__pycache__